pre {
    background: #f5f5f5;
    padding: 12px;
    border-radius: 6px;
    overflow: auto;
}
.card-content .row {
    margin-bottom: 0;
}
.endpoint-title {
    margin-bottom: 8px;
}

.container-page {
    margin-top: 24px;
    margin-bottom: 24px;
}